<div id="createDisplay">
	<p>Create an Account!</p>
	<form class="memberAdd" name="memberAdd">		
		<input type="email" id="username" name="username" placeholder="E-mail" ng-model="account.username" required />
		<div ng-show="memberAdd.username.$dirty && memberAdd.username.$invalid">
			<span ng-show="memberAdd.username.$error.required">E-mail required!</span>	
			<span ng-show="memberAdd.username.$error.email">This is not a valid E-mail!</span>
		</div>
		
		<input type="password" id="password" name="password" placeholder="Password" ng-model="account.password" required equals="{{account.confirm_password}}" />
		<div ng-show="memberAdd.password.$error.required">Password required!</div>
		<div ng-show="memberAdd.password.$error.minLength">Minimum Length of 6 Required</div>
		<div ng-show="memberAdd.password.$error.maxLength">Maximum Length of 16 Required</div>
				
		<input type="password" id="confirmpassword" name="confirmpassword" placeholder="Re-type Password" ng-model="account.confirm_password" required equals="{{account.password}}" />
		<div ng-show="memberAdd.confirmpassword.$error.required">Confirmation Password required!</div>
		<div ng-show="memberAdd.confirmpassword.$error.equals">Passwords are not equal!</div>
		
		<button type="submit" id="createaccount" name="createaccount" ng-click="createAccount(account)">Create Account</button>
	</form>
</div>
